# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
.pnpm-debug.log
.env
.env.*

# Python
__pycache__/
*.py[cod]
*$py.class
.Python
env/
.venv/
ENV/
env.bak/
pip-log.txt
pip-delete-this-directory.txt

# Rust
target/
Cargo.lock
